* {
    margin: 0px;
    padding: 0px;
    color: #000;
    resize: none;
}

body {
    background-color: #220044;
    height: 100vh;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.verticle {
    flex-direction: column;
}

.background-glossy-white {
    background-color: #aa99aa44;
}

.screen-height {
    height: 100vh;
    ;
}

.round-corners {
    border-radius: 10px;
}

.container {
    padding: 100px;
    z-index: 1;
}

.inset-shadow {
    -webkit-box-shadow: inset -12px -16px 39px -22px rgba(0, 0, 100, 0.75);
    -moz-box-shadow: inset -12px -16px 39px -22px rgba(0, 0, 100, 0.75);
    box-shadow: inset -12px -16px 39px -22px rgba(0, 0, 100, 0.75);
}

.button {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.text-dark {
    color: #000;
}

#background-video {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    opacity: 50%;
}

.container > form > * {
    margin-top: 3rem;
}